footer {
  position:fixed;
  bottom:0px;
  left:0px;
  right:0px;
  background:#434C52;
}

footer .cancel-bar {
  background: #343c41;
  padding: 10px 10px;
  color: #fff;
  text-align: center;

  &__button {
    height: 30px;
    width: 110px;
    background: #fa604a;
  }
}

footer .footer-bar {
  height:80px;
  left:0;
  right:0;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#fff;
  font-size:18px;
  padding:20px 60px;
  box-sizing:border-box;
}

footer .footer__ls {
  margin-right:auto;
}

footer .footer__ls button {
  background: #5A6267
}

footer .footer__rs button {
  background: #4ec3a1
}

footer .footer__rs {
  margin-left:auto;
}

button {
  border:0;
  height:40px;
  width:200px;
  border-radius:6px;
  color:#fff;
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight:500;
  font-size:14px;
}

.button-primary {
  background: #4ec3a1;
}
