h1 {
    color: #000;
    font-size:30px;
    font-weight:700;
}

.heading {
    display:flex;
    align-items:center;
    font-family: Helvetica, Arial, sans-serif;
    width:100%;
    margin-bottom:30px;
    margin-top:20px;
}

.heading .heading__subtitle {
    font-size:18px;
    color: #97A9B5;
    margin-left:30px;
    margin-top:5px;
} 

.heading .heading__actions {
    margin-left:auto;
}

button { 
    border:0;
    height:40px;
    width:200px;
    border-radius:6px;
    color:#fff;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:600;
    font-size:14px;
}

.button-primary {
    background: #5D89FF;
}

p {
    font-family: 'Salesforce Sans', Arial, sans-serif;
    color: rgb(62, 62, 60);
}
.app__container {
    background: #fff;
    height: 100vh;
    overflow: scroll;
    margin:0;
    padding:20px 60px;
    margin: -1rem -1rem; /* A bit of a hack to remove border */
    padding-bottom:140px;
}

div.story_padded {
    padding:0;
}